.custom-content {
    background-color: #f0f0f0; /* Light grey background */
    padding: 15px;
    border-radius: 5px;
}



.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    width: 100%;
    min-width: 300px;
    max-width: 100vw;          /* ← allow full viewport width */
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.embed-container iframe {
    width: 100% !important;
    height: 100% !important;
    border: 0;
}